@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lobster&display=swap");

/* Estilos Generales */
* {
    margin: 0;
    padding: 0;

    /* --bg-main: #2596a2; */
    --bg-main: #239DBF;
    --default-gap: 40px;
}

body {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #373a3c;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

ul.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.separated li {
    margin-bottom: 20px;
}


/* Modificaciones a Bootstrap */
nav.navbar {
    background-color: var(--bg-main) !important;
}

a.navbar-brand {
    font-family: "Lobster", sans-serif;
    font-size: 37px;
}

main {
    background-color: #000;
    color: #fff;
    padding: var(--default-gap) 0;
}
main h2 {
    margin-bottom: var(--default-gap);
}

/* Sección WHO */
.who {
    margin-bottom: var(--default-gap);
}

.who .with-icon {
    background-color: var(--bg-main);
    text-align: center;
    font-size: 1.5rem;
}

/* .feature {
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 40px;
}
@media (max-width: 767.98px) {
    .feature h2 {
        font-size: 25px;
    }
}

.feature p {
    font-weight: 700;
    font-size: 20px;
}
@media (max-width: 767.98px) {
    .feature p {
        font-size: 16px;
    }
}

.feature .buttons button {
    margin-right: 20px;
    margin-bottom: 20px;
    border-color: #ddd;
}
@media (max-width: 767.98px) {
    .feature .buttons button {
        margin-right: 0;
        font-size: 13px;
    }
} */


/* Sección RESALTED */
.resalted {
    margin-bottom: var(--default-gap);
}

.resalted .card {
    background-color: var(--bg-main);
    border: 1px solid #fff;
}

.resalted .card-img-top {
    max-height: 200px;
}


/* Sección CONTACT */
.contact {
    margin-bottom: var(--default-gap);
}

.contact form div {
    margin-bottom: 1rem;
}

.contact .btn {
    background-color: var(--bg-main);
    color: #fff;
}

/* .content h3 {
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #373a3c;
    margin-bottom: 20px;
}
@media (max-width: 767.98px) {
    .content h3 {
        font-size: 16px;
        font-weight: 700;
        border-bottom: none;
        margin-bottom: 30px;
    }
}

.content ul.unstyled {
    margin-bottom: 20px;
} */



/* Sección FOOTER */
footer {
    text-transform: uppercase;
    background-color: var(--bg-main);
    color: #fff;
    padding: 15px 0;
    font-size: 1.5rem;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin-left: 15px;
}
